@if (msgSuccess) {
<div
  class="modal flex justify-center items-center absolute inset-0 bg-black/50 z-10"
>
  <div class="bg-white rounded-lg shadow-sm">
    <div class="p-4 md:p-5 text-center">
      <iframe
        class="mx-auto"
        src="https://lottie.host/embed/eeb211b4-0917-4eed-93eb-d3b576bc7ac0/7EZXwsfyBk.lottie"
      ></iframe>
      <h3 class="mb-5 text-lg font-normal text-gray-500">Success</h3>
    </div>
  </div>
</div>
}

<section class="min-h-screen flex justify-center items-center pt-[82px] pb-14">
  <div class="w-full lg:w-1/2 bg-white px-16 py-10 rounded-xl shadow-md border">
    <h1 class="text-3xl font-medium mb-5 text-center">Forgot Password</h1>
    @if (step === 1) {
    <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()">
      <div class="relative z-0 w-full mb-6 group">
        @let emailControl = verifyEmail.get('email');
        <input
          type="email"
          email="floating_email"
          id="floating_email"
          formControlName="email"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-non focus:outline-none focus:ring-0 focus:border-black peer"
          placeholder=" "
          required
        />
        <label
          for="floating_email"
          class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-2 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-black peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Email</label
        >
        @if ((emailControl?.errors && emailControl?.touched)) {
        <ul class="flex text-sm text-red-600 mt-4" role="alert">
          <svg
            class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          @if (emailControl?.getError('required')) {
          <li>Email is required.</li>
          }@else if (emailControl?.getError('email')) {
          <li>Please enter a valid email address.</li>
          }
        </ul>
        }
      </div>

      <button [disabled]="isLoading" type="submit" class="btn-main text-[18px]">
        Verify email @if (isLoading) {
        <i class="fas fa-spin fa-spinner text-white"></i>
        }
      </button>
    </form>
    }@else if (step === 2) {
    <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()">
      <div class="relative z-0 w-full mb-6 group">
        @let resetCodeControl = verifyCode.get('resetCode');
        <input
          type="text"
          resetCode="floating_resetCode"
          id="floating_resetCode"
          formControlName="resetCode"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-non focus:outline-none focus:ring-0 focus:border-black peer"
          placeholder=" "
          required
        />
        <label
          for="floating_resetCode"
          class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-2 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-black peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Reset code</label
        >
        @if ((resetCodeControl?.errors && resetCodeControl?.touched) ||
        msgError) {
        <ul class="flex text-sm text-red-600 mt-4" role="alert">
          <svg
            class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          @if (resetCodeControl?.getError('required')) {
          <li>Reset code is required.</li>
          }@else if (resetCodeControl?.getError('pattern')) {
          <li>Please enter a valid code.</li>
          }@else {
          <li>{{ msgError }}</li>
          }
        </ul>
        }
      </div>

      <button [disabled]="isLoading" type="submit" class="btn-main text-[18px]">
        Verify code @if (isLoading) {
        <i class="fas fa-spin fa-spinner text-white"></i>
        }
      </button>
    </form>
    }@else if (step === 3) {
    <form [formGroup]="resetPassword" (ngSubmit)="resetPasswordSubmit()">
      <div class="relative z-0 w-full mb-6 group">
        @let resetPassEmailControl = resetPassword.get('email');
        <input
          type="email"
          email="floating_email"
          id="floating_email"
          formControlName="email"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-non focus:outline-none focus:ring-0 focus:border-black peer"
          placeholder=" "
          required
          readonly
        />
        <label
          for="floating_email"
          class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-2 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-black peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Email</label
        >
        @if ((resetPassEmailControl?.errors && resetPassEmailControl?.touched))
        {
        <ul class="flex text-sm text-red-600 mt-4" role="alert">
          <svg
            class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          @if (resetPassEmailControl?.getError('required')) {
          <li>Email is required.</li>
          }@else if (resetPassEmailControl?.getError('email')) {
          <li>Please enter a valid email address.</li>
          }
        </ul>
        }
      </div>

      <div class="relative z-0 w-full mb-6 group">
        @let newPasswordControl = resetPassword.get('newPassword');

        <input
          type="password"
          password="floating_newPassword"
          id="floating_newPassword"
          formControlName="newPassword"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-non focus:outline-none focus:ring-0 focus:border-black peer"
          placeholder=" "
          required
          
        />
        <label
          for="floating_newPassword"
          class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-2 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-black peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >New password</label
        >
        @if ((newPasswordControl?.errors && newPasswordControl?.touched) ||
        msgError ) {
        <ul class="flex text-sm text-red-600 mt-4" role="alert">
          <svg
            class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          @if (newPasswordControl?.getError('required')) {
          <li>New password is required.</li>
          }@else if (newPasswordControl?.getError('pattern')) {
          <li>
            New password must start with an uppercase letter and be at least 8
            characters long.
          </li>
          }@else {
          <li>{{ msgError }}</li>
          }
        </ul>
        }
      </div>

      <button [disabled]="isLoading" type="submit" class="btn-main text-[18px]">
        Reset Password @if (isLoading) {
        <i class="fas fa-spin fa-spinner text-white"></i>
        }
      </button>
      
    </form>
    }
  </div>
</section>
